.layout {
    min-height: 100vh;
}


.title {
    width: 120px;
    margin: auto 24px;
    font-size: 1.2rem;
}

.header {
    color: white;
    display: flex;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.menu{
    flex: auto
}
